.dashboard-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-0);
  border: 2px solid var(--color-2);
  border-radius: 15px;
  height: 400px;
  padding: 10px;
}

.dashboard-card:hover {
  /*background-color: #f7bf19;*/
  background-color: #eaeaea;
}

h1 {
  position: relative;
  text-align: center;
}

h1:after {
  margin-top: 5px;
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background-color: var(--color-3);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.dashboard-card:hover > h1:after {
  width: 60%;
  left: 20%;
}

i {
  font-size: 275px;
  text-align: center;
}

