<h1>Welcome to Cygnus</h1>
<div class="dashboard">
  <cgn-dashboard-card class="dashboard-card"
                      icon="fas fa-wifi"
                      title="Router Configuration"
                      link="http://cygnus/"
  ></cgn-dashboard-card>
  <cgn-dashboard-card class="dashboard-card"
                      icon="fab fa-raspberry-pi"
                      title="Raspberry Monitor"
                      link="http://rho:8888"
  ></cgn-dashboard-card>
  <cgn-dashboard-card class="dashboard-card"
                      icon="fab fa-docker"
                      title="Raspberry Portainer"
                      link="http://rho:9000"
  ></cgn-dashboard-card>
</div>
